<div class="card shadow">
  <div class="card-header">
    <h4>
      Edit
      Lesson
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', lesson: @lesson %>
  </div>
  <div class="card-footer">
    <%= link_to 'Cancel', @course %>
    <%= link_to 'Delete Lesson', course_lesson_path(@lesson), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>
